
.container {
    text-align: center;
    max-width: 80%; /* Restrict the container width for better layout */
}

.image {
    width: 600px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow for better visual effect */
    margin-bottom: 20px; /* Space between image and buttons */
}

.buttons {
    margin-bottom: 20px; /* Space between buttons and info display */
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #ff66b2; /* Pink background for the button */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth background color transition and scaling effect */
}

button:hover {
    background-color: #ff3385; /* Darker pink when hovering */
    transform: scale(1.05); /* Slightly scale up the button on hover */
}

.container-p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    gap: 60px;
    width: 100%;
    max-width: 1200px;
}

.box {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.box img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    
}

.box:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.box:hover .overlay {
    opacity: 1;
}

.info {
    text-align: center;
    padding: 20px;
}

.info h3 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.info p {
    margin: 0;
    font-size: 1em;
    color: #ccc;
}
.content {
    text-align: center;
    opacity: 0; /* Start with hidden content */
    animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

.footer {
    background-color: #f8bbd0; /* Light pink background */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff; /* White text color for links */
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline; /* Underline on hover */
}